.card__portfolio{

    margin-bottom: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
    border-top: 1px solid var(--color-analogous-3);

    &-title{
        &__project{
            font-family: var(--rdf-font-family-title);
            font-size: var(--rdf-font-size-text-1);
            line-height: var(--line-height-small);
            color: var(--color-analogous-1);
        }
        &__year{
            font-family: var(--rdf-font-family-title);
            font-size: var(--rdf-font-size-text-2);
            line-height: var(--line-height-regular);
            color: var(--color-analogous-1);
        }

        
    }
    &-deco-retangulo{}
    &-description{
        font-family: var(--rdf-font-family-body);
        font-size: var(--rdf-font-size-text-1);
        margin-bottom: 16px;
    }
    &-skills{
        font-family: var(--rdf-font-family-title);
        font-size: var(--rdf-font-size-text-1);
        background-color: var(--color-contrast-blue);
    }

    .btn__main{
        font-family: var(--rdf-font-family-title);
        background-color: var(--color-contrast-yellow);
        color: var(--color-neutral-dark);
    }

}