<div class="grid card__portfolio">
    <div class="g-col-9">
        <h5 class="fw-bolder card__portfolio-title__project">{{portfolio.titulo}}</h5>
    </div>
    <div class="g-col-3 text-end card__portfolio-title__year">
        <h5>{{portfolio.ano}}</h5>
    </div>
    <div class="g-col-12">
        <span class="card__portfolio-deco-retangulo"></span>
    </div>
    <div class="g-col-6">
        <p class="card__portfolio-description">{{portfolio.description}}</p>
        <a [routerLink]="['visualizar/', portfolio.id]" class="btn btn__main text-uppercase">Detalhes</a>
    </div>
    <div class="g-col-6 d-flex flex-row justify-content-end flex-wrap">
        <span class="btn btn-light d-flex align-items-center text-uppercase card__portfolio-skills" *ngFor="let skill of portfolio.skills">{{skill}}</span>
    </div>
</div>