<header>
  <nav class="navbar navbar-expand-lg rdfreitas-background-111100 rdfreitas-padding-top-20 rdfreitas-padding-bottom-20">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']"><img src="../../assets/images/logo-c-1x.png" class="rdfreitas-img-60" ></a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <app-menu *ngFor="let item of itensMenu" [menu]="item"></app-menu>
      </div>
    </div>
  </nav>
    
</header>

    
    

  
