<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
        <span class="fs-4">
            <img src="../../assets/images/rdfreitas-logo.svg" alt="Rdfreitas" class="logo" />
        </span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['/about']" class="nav-link">Sobre mim</a></li>
        <li class="nav-item"><a [routerLink]="['/services']" class="nav-link">Serviços</a></li>
        <li class="nav-item"><a [routerLink]="['/portfolio']" class="nav-link">Portfolio</a></li>
        <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link">Contato</a></li>
      </ul>
    </header>
  
