<div class="rdfreitas-footer rdfreitas-support-background-5 rdfreitas-padding-top-3x rdfreitas-padding-bottom-3x">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 rdfreitas-border-right rdfreitas-padding-right-4x">
                <img src="../../assets/images/logo-w-1x.png" alt="logo rdfreitas branca" class="rdfreitas-margin-bottom-1x">
                <img src="https://cr-ss-service.azurewebsites.net/api/ScreenShot?widget=summary&username=rodrigo-d-freitas&width=225" class="rdfreitas-img-100">
            </div>
            <div class="col-lg-6 rdfreitas-padding-left-4x text-end rdfreitas-font-24 rdfreitas-color-3">
                <p><a href="mailto:rodrigo.d.freitas@outlook.com" class="rdfreitas-color-3 ">rodrigo.d.freitas@outlook.com</a></p>
                <p>+55 21 975-775-481</p>
                <p>
                    <span class="d-linline-block"><i class="bi bi-instagram"></i></span>
                    <span class="rdfreitas-margin-left-05x d-linline-block"><i class="bi bi-github"></i></span>
                    <span class="rdfreitas-margin-left-05x d-linline-block"><i class="bi bi-linkedin"></i></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center rdfreitas-margin-top-2x rdfreitas-margin-bottom-2x rdfreitas-support-color-7 rdfreitas-font-14">
                <p>Copyright © 2023 Todos os direitos reservados | <span class="rdfreitas-color-4">Rodrigo Dias de Freitas</span></p>
                <p>Designed by <span class="rdfreitas-color-4">Rodrigo Dias de Freitas</span></p>
            </div>
        </div>
    </div>
</div>
