<div class="rdfreitas-footer rdfreitas-support-background-110 rdfreitas-padding-top-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 rdfreitas-border-right-2 rdfreitas-padding-right-120">
                <img src="../../assets/images/logo-w-1x.png" alt="logo rdfreitas branca" class="rdfreitas-margin-bottom-40">
                
            </div>
            <div class="col-lg-6 rdfreitas-padding-left-120 text-end rdfreitas-font-24 rdfreitas-color-3">
                <p><a href="mailto:rodrigo.d.freitas@outlook.com" class="rdfreitas-color-3 ">rodrigo.d.freitas@outlook.com</a></p>
                <p>+55 21 975-775-481</p>
                <p>
                    <span class="d-linline-block"><i class="bi bi-instagram"></i></span>
                    <span class="rdfreitas-margin-left-20 d-linline-block"><i class="bi bi-github"></i></span>
                    <span class="rdfreitas-margin-left-20 d-linline-block"><i class="bi bi-linkedin"></i></span>
                </p>
                <div class="rdfreitas-badges">
                    <img src="../../assets/images/certificado-investimentos-brasil.png" class="rdfreitas-img-50 rdfreitas-margin-top-40" alt="Certificado de Investimentos no Brasil emitido pela Galícia Educação">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center rdfreitas-margin-top-120 rdfreitas-margin-bottom-40 rdfreitas-support-color-7 rdfreitas-font-14">
                <p>Copyright © 2023 Todos os direitos reservados | <span class="rdfreitas-color-4">Rodrigo Dias de Freitas</span></p>
                <p>Designed by <span class="rdfreitas-color-4">Rodrigo Dias de Freitas</span></p>
            </div>
        </div>
    </div>
</div>
