<div class="rdfreitas-contact rdfreitas-background-c11 rdfreitas-padding-top-2x rdfreitas-padding-bottom-2x" id="contact">
    <div class="container">
        <div class="grid">
            <div class="g-col-6">
                <img src="https://cr-ss-service.azurewebsites.net/api/ScreenShot?widget=summary&username=rodrigo-d-freitas" alt="Coders Rank Summary" class="rdfreitas-img-90">
            </div>
            <div class="g-col-6 text-end">
                <p><a href="mailto:rodrigo.d.freitas@outlook.com" class="rdfreitas-c1">rodrigo.d.freitas@outlook.com</a></p>
                <p class="rdfreitas-c1 rdfreitas-padding-top-01x rdfreitas-padding-bottom-01x">+55 21 97577-5481</p>
                <img src="../../../assets/images/github-svgrepo.svg" alt="Github brand" class="rdfreitas-icon">
                <img src="../../../assets/images/linkedin-svgrepo.svg" alt="Linkedin brand" class="rdfreitas-icon">
            </div>
        </div>
    </div>
</div>



 <div class="grid">
    <div class="g-col-10">
        <h3>Entre em contato</h3>

        <fieldset class="container">
            <title>Formulário de contato</title>

            <form novalidate [formGroup]="contactForm" (ngSubmit)="adicionarContato()">
                <div class="row mb-3 col-md-4">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nome" placeholder="Nome completo" formControlName="nome">
                    </div>
                    <span class="text-danger" *ngIf="contactForm.get('nome')?.errors && (contactForm.get('nome')?.dirty || contactForm.get('nome')?.touched)">
                        <p>Preencha o campo nome</p>
                    </span>
                </div>
                <div class="row mb-3 col-md-4">
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email">
                    </div>
                    <span class="text-danger" *ngIf="contactForm.get('email')?.errors?.['required'] && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
                        <p>Preencha o campo e-mail</p>
                    </span>
                    <span class="text-danger" *ngIf="contactForm.get('email')?.errors?.['email'] && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
                        <p>Formato de e-mail inválido</p>
                    </span>
                </div>
                <div class="row mb-3 col-md-4">
                    <div class="col-sm-10">
                    <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha" minlength="6" maxlength="15">
                    <span class="text-danger" *ngIf="contactForm.get('senha')?.errors?.['required'] && (contactForm.get('senha')?.dirty || contactForm.get('senha')?.touched)">
                        <p>Crie uma senha</p>
                    </span>
                    <span class="text-danger" *ngIf="contactForm.get('senha')?.errors?.['minlength']">
                        <p>Senha tem que ter entre 6 e 15 caracteres</p>
                    </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid" >Submit</button>        
            </form>
        </fieldset>
    </div>
</div>
 