<div class="portfolio" id="portfolio">
    <div class="container">
        <div class="grid rdfreitas-margin-top-120">
            <div class="g-col-3">
                <h2 class="rdfreitas-font-chakra rdfreitas-font-fixa-95 text-uppercase rdfreitas-width-240 rdfreitas-word-wrap rdfreitas-color-EEEECC fw-bolder">Experiência</h2>
                <span class="rdfreitas-margin-left-20 d-linline-block rdfreitas-font-60"><i class="bi bi-github"></i></span>
                <span class="rdfreitas-margin-left-20 d-linline-block rdfreitas-font-60"><i class="bi bi-linkedin"></i></span>
            </div>
            <div class="g-col-8 rdfreitas-color-111100 rdfreitas-font-20 rdfreitas-margin-bottom-120">
                <p class="rdfreitas-margin-bottom-40">Sou um profissional experiente em desenvolvimento web, com um histórico sólido na criação de sites e telas para sistemas tanto simples como complexos. Minha expertise abrange uma variedade de linguagens e frameworks, incluindo Bootstrap, Material Design, Angular, Typescript, HTML, CSS e Javascript.</p>

                <p class="rdfreitas-margin-bottom-40">Ao longo da minha carreira, tive a oportunidade de colaborar com desenvolvedores Backend de diversas linguagens, como Java, .Net e PHP, o que me permitiu aprimorar minhas habilidades em trabalhar em equipe e garantir a integração perfeita entre o Frontend e o Backend.</p>
                    
                <p class="rdfreitas-margin-bottom-40">Além disso, também tenho experiência no desenvolvimento de sites em plataformas populares, como Wordpress e Magento, proporcionando soluções completas e personalizadas para atender às necessidades específicas de cada cliente.</p>
                    
                <p class="rdfreitas-margin-bottom-40">Combinando criatividade e funcionalidade, meus projetos destacam-se pela usabilidade, design moderno e desempenho otimizado. Sempre busco utilizar as melhores práticas e tecnologias mais recentes para oferecer resultados eficientes e atraentes.</p>
                    
                <p class="rdfreitas-margin-bottom-40">Estou entusiasmado em continuar a expandir meus conhecimentos e habilidades, abraçando novos desafios e trabalhando em projetos inovadores. Meu compromisso é entregar soluções de alta qualidade e proporcionar uma experiência excepcional aos usuários finais, contribuindo para o sucesso de cada projeto que abordo.</p>

                <app-portfolio-card-detalhes *ngFor="let itensPortfolio of itensPortfolio" [portfolio]="itensPortfolio"></app-portfolio-card-detalhes>
                
            </div>
        </div>
    </div>
</div>


