<div class="portfolio" id="portfolio">
    <div class="container">
        <div class="grid text-center">
            <div class="g-col-6">
                <img src="../../../assets/images/code.png" class="img-fluid" alt="Code screen">
            </div>
            <div class="g-col-6">
                <span class="rdfreitas-deco-retangulo rdfreitas-deco-retangulo-25 rdfreitas-height-3x"></span>
                <h1 class="rdfreitas-title rdfreitas-c12">Frontend Angular Developer & UX/UI Designer</h1>
            </div>
        </div>
        <div class="grid rdfreitas-margin-top-4x">
            <div class="g-col-6">
                <h2 class="rdfreitas-subtitle rdfreitas-c2">Experiência</h2>
                <img src="../../../assets/images/github-repo-svgrepo.svg" alt="Github brand" class="rdfreitas-icon">
                <img src="../../../assets/images/linkedin-icon-logo-svgrepo.svg" alt="Linkedin brand" class="rdfreitas-icon">
            </div>
            <div class="g-col-6">
                <p class="rdfreitas-margin-bottom-3x">Já fiz sites e desenvolvi <span class="rdfreitas-destaque">telas para sistemas simples e complexos</span> , utilizando linguagens e frameworks como <span class="rdfreitas-destaque">Bootstrap, Material Design, Angular, Typescript, HTML, CSS, Javascript</span>, sempre em conjunto com desenvolvedores Backend de variadas linguagens como Java, .Net, PHP e plataformas como <span class="rdfreitas-destaque">Wordpress e Magento</span>.</p>

                <app-portfolio-card-detalhes *ngFor="let itensPortfolio of itensPortfolio" [portfolio]="itensPortfolio"></app-portfolio-card-detalhes>
                
            </div>
        </div>
    </div>
</div>


