<div class="portfolio" id="portfolio">
    <div class="container">
        <div class="grid rdfreitas-margin-top-120">
            <div class="g-col-3">
                <h2 class="rdfreitas-font-chakra rdfreitas-font-fixa-95 text-uppercase rdfreitas-width-240 rdfreitas-word-wrap rdfreitas-support-color-eec fw-bolder">Experiência</h2>
                <img src="../../../assets/images/github-repo-svgrepo.svg" alt="Github brand" class="rdfreitas-icon">
                <img src="../../../assets/images/linkedin-icon-logo-svgrepo.svg" alt="Linkedin brand" class="rdfreitas-icon">
            </div>
            <div class="g-col-8 rdfreitas-support-color-110 rdfreitas-font-20 rdfreitas-margin-bottom-120">
                <p class="rdfreitas-margin-bottom-120">Já fiz sites e desenvolvi <span class="rdfreitas-color-b94">telas para sistemas simples e complexos</span> , utilizando linguagens e frameworks como <span class="rdfreitas-color-b94">Bootstrap, Material Design, Angular, Typescript, HTML, CSS, Javascript</span>, sempre em conjunto com desenvolvedores Backend de variadas linguagens como Java, .Net, PHP e plataformas como <span class="rdfreitas-color-b94">Wordpress e Magento</span>.</p>

                <app-portfolio-card-detalhes *ngFor="let itensPortfolio of itensPortfolio" [portfolio]="itensPortfolio"></app-portfolio-card-detalhes>
                
            </div>
        </div>
    </div>
</div>


