
.rdfreitas-color {
    &-1 { color: #664411; }
    &-2 { color: #AA7733; }
    &-3 { color: #BB9944; }
    &-4 { color: #EEBB22; }

    &-5 { color: #33BBAA; }
    &-6 { color: #116655; }
    &-7 { color: #0011BB; }
    &-8 { color: #001166; }
}

.rdfreitas-background {
    &-1 { background-color: #664411; }
    &-2 { background-color: #AA7733; }
    &-3 { background-color: #BB9944; }
    &-4 { background-color: #EEBB22; }

    &-5 { background-color: #33BBAA; }
    &-6 { background-color: #116655; }
    &-7 { background-color: #0011BB; }
    &-8 { background-color: #001166; }
}

.rdfreitas-support-color {
    &-5 { color: #111100; }
    &-6 { color: #332222; }
    &-7 { color: #DDCCAA; }
    &-8 { color: #EEEECC; }
}



.rdfreitas-support-background {
    &-5 { background-color: #111100; }
    &-6 { background-color: #332222; }
    &-7 { background-color: #DDCCAA; }
    &-8 { background-color: #EEEECC; }
}