$string: '#';
@mixin link($className, $color) {
    #{$className + $color} { 
        
        &:hover {
            text-decoration: underline !important;
            color: #{$string + $color} !important;

        }

        &.active {
            font-weight: 800;
            color: #{$string + $color} !important;

        }
    }
   
}
@mixin colors($className, $styleName, $color) {
    #{$className + $styleName + '-' + $color} {
        #{$styleName}: #{$string + $color}
    }
}
