$max: 120;
$offset: 4;
$unit: 'px';

@mixin font($className, $styleName) {
  $i: 8;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit};
      line-height: #{round(($i*1.5)) + $unit};
    }
    $i: $i + $offset;
  }
}

@mixin fix-font($className, $size, $unit){
    #{$className + $size} {
        font-size: #{$size + $unit};
    }
}

@mixin kanit(){
  .rdfreitas-font-kanit{
    font-family: 'kanit', sans-serif;
  }
}
@mixin playfair(){
  .rdfreitas-font-playfair{
    font-family: 'Playfair Display', serif;
  }
}

@mixin word-break(){
  .rdfreitas-word-wrap { word-wrap: break-word;}
}