$max: 200;
$offset: 4;
$offset10: 10;
$unit: 'px';
$unitPerc: '%';
$maxborder: 2;

@mixin margin($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}

@mixin margin-negativa($className, $styleName, $size) {
    #{$className + $size} { 
      #{$styleName}: - #{$size + $unit};
    }
}

@mixin padding($className, $styleName) {
    $i: 0;
    @while $i <= $max {
      #{$className + $i} { 
        #{$styleName}: #{$i + $unit};
      }
      $i: $i + $offset;
    }
  }

@mixin border($className, $styleName, $color) {
  $i: 1;
  @while $i <= $maxborder {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit} solid #{$color};
    }
    $i: $i + 1;
  }
}

$maxPercImg: 100;
@mixin image($className, $styleName) {
  $i: 10;
  @while $i <= $maxPercImg {
    #{$className + $i} {
      #{$styleName}: #{$i + $unitPerc};
    }
    $i: $i + $offset10;
  }
}

$maxHeight: 20;
@mixin height($className, $styleName) {
  $i: 4;
  @while $i <= $maxHeight {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}