:root {

    /* Definindo as variáveis de fonte */
    --font-family-serif: 'Playfair Display', serif;
    --font-family-sans-serif: 'kanit', sans-serif;
    
    --color-brand-primary-regular: #110;

}
