<div class="rdfreitas-about rdfreitas-background-c13" id="about">
    <div class="container">
        <div class="grid rdfreitas-margin-top-4x">
            <div class="g-col-6">
                <h2 class="rdfreitas-subtitle rdfreitas-subtitle-1 rdfreitas-c12 rdfreitas-margin-top-3x">Formação</h2>
            </div>
            <div class="g-col-6">
                <p class="rdfreitas-c9 rdfreitas-margin-top-3x">O que me trouxe para área de UI Designer, primeiramente, foi a minha pós em Design de Interfaces pela Unicarioca.</p>
                <div class="grid">
                    <div class="g-col-4">
                        <span class="rdfreitas-deco-retangulo rdfreitas-deco-retangulo-50 rdfreitas-margin-left-0 rdfreitas-height-2x rdfreitas-margin-top-2x"></span>
                        <div class="rdfreitas-formacao-box rdfreitas-background-c12 rdfreitas-padding-top-03x rdfreitas-padding-left-03x rdfreitas-padding-bottom-03x">
                            <h5 class="rdfreitas-c10">Tecnólogo</h5>
                            <h3 class="rdfreitas-c2 rdfreitas-margin-top-03x">Gestão de Ambientes Informatizados</h3>
                            <h6 class="rdfreitas-c10 rdfreitas-margin-top-1x">Estácio de Sá</h6>
                        </div>
                    </div>
                    <div class="g-col-4 rdfreitas-margin-left-1x">
                        <span class="rdfreitas-deco-retangulo rdfreitas-deco-retangulo-50 rdfreitas-margin-left-0 rdfreitas-height-2x rdfreitas-margin-top-2x"></span>
                        <div class="rdfreitas-formacao-box rdfreitas-background-c12 rdfreitas-padding-top-03x rdfreitas-padding-left-03x rdfreitas-padding-bottom-03x">
                            <h5 class="rdfreitas-c10">Pós-graduado</h5>
                            <h3 class="rdfreitas-c2 rdfreitas-margin-top-03x">Design de Interfaces</h3>
                            <h6 class="rdfreitas-c10 rdfreitas-margin-top-1x">Unicarioca</h6>
                        </div>
                    </div>
                </div>
                <div class="grid rdfreitas-margin-top-1x rdfreitas-padding-bottom-3x">
                    <div class="g-col-12">
                        <h3 class="rdfreitas-c9">Cursos</h3>
                        <span class="rdfreitas-deco-retangulo rdfreitas-deco-retangulo-100 rdfreitas-margin-left-0 rdfreitas-height-2x rdfreitas-margin-top-01x"></span>
                        <ul class="rdfreitas-padding-left-0">
                            <li class="flex-container rdfreitas-margin-top-1x">
                                <span class="flex-item rdfreitas-c4">Create a Virtual Store with WordPress and WooCommerce </span>
                                <span class="raw-item rdfreitas-c4 text-end">2019</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">WordPress Advanced: Create Even More Professional Themes</span>
                                <span class="raw-item rdfreitas-c4 text-end">2019</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">Angular - Creation of Web Interfaces</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">Project Management - Advanced</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">Project Management - Fundamentals</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">Git and GitHub - Version Control</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">HTML5 and CSS3 - Advanced Web Development</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">HTML5 and CSS3 - Basic Web Development</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">JavaScript - Automated Testing with Jasmine</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">SEO - Search Engine Optimization</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">Wordpress - Creation of Themes</span>
                                <span class="raw-item rdfreitas-c4 text-end">2018</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">TypeScript - First Steps</span>
                                <span class="raw-item rdfreitas-c4 text-end">2017</span>
                            </li>
                            <li class="flex-container rdfreitas-margin-top-01x">
                                <span class="flex-item rdfreitas-c4">UX and Usability - First Steps</span>
                                <span class="raw-item rdfreitas-c4 text-end">2017</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
