<div class="rdfeitas-home" id="rdfreitas-home">
    <div class="container">
        <div class="grid rdfreitas-intro">
            <div class="g-col-4">
                <img src="../../../assets/images/power-fist-bw.svg" class="img-fluid" alt="Poder negro">
            </div>
            <div class="g-col-8">
                <div class="rdfreitas-deco-retangulo rdfreitas-margin-left-0 rdfreitas-deco-retangulo-25 rdfreitas-height-2x "></div>
                <h2 class="rdfreitas-subtitle">Frontend<br> Angular Developer<br> UX/UI Designer</h2>
            </div>
        </div>
    </div>
    <div class="rdfreitas-presentation rdfreitas-background-6">
        <div class="container grid">
            <div class="g-col-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis, leo eu semper ultricies, ante lorem lacinia orci, eget commodo velit lacus vitae ex. Fusce metus nisl, mattis quis mauris eget, fermentum pulvinar arcu. Pellentesque aliquet, erat ut convallis tempor, nisl mauris hendrerit eros, in tristique justo ipsum non leo. Nam elementum tincidunt mauris. Sed viverra iaculis orci, ut porta velit. Proin gravida eros at urna semper, sed faucibus lacus egestas. Suspendisse potenti. Proin vulputate at nisl ut vestibulum. Nam malesuada finibus diam, non porta nulla egestas ac. Donec vitae facilisis augue. Nunc vestibulum purus nibh. Praesent a porttitor libero, eget hendrerit justo. In pharetra malesuada libero vel egestas. Morbi varius convallis iaculis.</p>

                <p class="rdfreitas-margin-top-1x">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis, leo eu semper ultricies, ante lorem lacinia orci, eget commodo velit lacus vitae ex. Fusce metus nisl, mattis quis mauris eget, fermentum pulvinar arcu. Pellentesque aliquet, erat ut convallis tempor, nisl mauris hendrerit eros, in tristique justo ipsum non leo. Nam elementum tincidunt mauris. Sed viverra iaculis orci, ut porta velit. Proin gravida eros at urna semper, sed faucibus lacus egestas. Suspendisse potenti. Proin vulputate at nisl ut vestibulum. Nam malesuada finibus diam, non porta nulla egestas ac. Donec vitae facilisis augue. Nunc vestibulum purus nibh. Praesent a porttitor libero, eget hendrerit justo. In pharetra malesuada libero vel egestas. Morbi varius convallis iaculis.</p>
            </div>
        <div class="g-col-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/Foto.jpg" alt="Minha foto" class="rounded-circle center rdfreitas-img-40">
        </div>
        </div>
    </div>
    <div class="rdfreitas-destaque" id="rdfreitas-destaque">
        <div class="container grid">
            <div class="g-col-4">
                <h2 class="rdfreitas-3">Último trabalho</h2>
                <img src="" class="">
            </div>
            <div class="g-col-8">
                <h3 class="rdfreitas-3">rdfreitas</h3>
            </div>
            
        </div>
    </div>
</div>
