<div class="rdfeitas-home" id="rdfreitas-home">
    <div class="container">
        <div class="grid rdfreitas-intro">
            <div class="g-col-4">
                <img src="../../../assets/images/power-fist-bw.svg" class="img-fluid" alt="Poder negro">
            </div>
            <div class="g-col-8">
                <div class="rdfreitas-deco-retangulo rdfreitas-margin-left-0 rdfreitas-deco-retangulo-25 rdfreitas-height-2x "></div>
                <h1 class="rdfreitas-subtitle">Frontend<br> Angular Developer<br> UX/UI Designer</h1>
            </div>
        </div>
    </div>
    <div class="rdfreitas-presentation rdfreitas-background-6">
        <div class="container">
            <div class="row">
                <div class="col-6 rdfreitas-font-20">
                    <p>Era o ano de 2003, e eu me via imerso em um mundo em constante transformação. Até então, minha trajetória profissional estava concentrada no suporte e administração de redes, mas os blogs estavam explodindo em popularidade, e a internet banda larga começava a se espalhar como um incêndio. Percebi nesse cenário uma oportunidade de crescimento e resolvi explorá-la.</p>
                    <p class="rdfreitas-margin-top-1x">Dessa forma, mergulhei de cabeça nessa nova era e decidi me especializar na área de Webdesign. Com muita dedicação e esforço, concluí um curso que me proporcionou as habilidades necessárias para surfar a onda da web em ascensão. Poucos meses após finalizar o curso, entrei no mercado de desenvolvimento para web, e ao longo dos dois anos seguintes, trilhei meu caminho em direção a uma pós-graduação em Design de Interfaces.</p>
                    <p class="rdfreitas-margin-top-1x">Na pós-graduação, tive a oportunidade de aprofundar meus conhecimentos sobre usabilidade e acessibilidade, e foi nesse cenário que meu amor pela criação de interfaces floresceu, mesmo que eu não me considerasse um designer de formação tradicional. Entretanto, rapidamente percebi uma lacuna no mercado: a falta de profissionais capazes de transformar os belos designs criados em ferramentas especializadas em verdadeiras interfaces digitais.</p>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/Foto.jpg" alt="Minha foto" class="rounded-circle center rdfreitas-img-60">
                </div>
            </div>
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6 rdfreitas-font-20">
                    <p class="rdfreitas-margin-top-1x">Foi então que presenciei o nascimento do termo "Frontend", seguido pelo "UI Design". Era a área em que eu me encaixava perfeitamente. Com essa nova perspectiva, decidi abraçar de vez esse desafio e me tornei uma ponte entre a criatividade dos designers e a realidade da programação.</p>   
                    <p class="rdfreitas-margin-top-1x">Ao longo dos anos, tive a oportunidade de construir inúmeros sites e desenvolver interfaces para sistemas de diferentes níveis de complexidade. Trabalhando em conjunto com desenvolvedores Backend, dominando diversas linguagens de programação, como Java, .Net e PHP, e plataformas renomadas como WordPress e Magento, pude oferecer soluções completas e robustas aos projetos.</p>    
                    <p class="rdfreitas-margin-top-1x">Porém, não me acomodei com o conhecimento adquirido. Busquei me manter sempre atualizado com as mais recentes tecnologias e tendências da minha área. Ferramentas como Bootstrap e Material Design tornaram-se essenciais em minhas criações. Além disso, dominei linguagens como HTML, CSS e Javascript, que me permitiram dar vida às minhas interfaces de forma dinâmica e interativa.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 rdfreitas-font-20">
                    <p class="rdfreitas-margin-top-1x">Aprofundando-me em metodologias e práticas que melhoram o código e a eficiência no trabalho, fui capaz de oferecer resultados cada vez mais satisfatórios. SEO e SEM tornaram-se parte fundamental de meu repertório, garantindo que as interfaces que desenvolvia alcançassem a visibilidade que mereciam nos motores de busca.</p>    
                    <p class="rdfreitas-margin-top-1x">Além disso, adotei a metodologia ágil Scrum, que revolucionou a maneira como eu e minha equipe trabalhávamos. Através de sprints e reuniões frequentes, conseguíamos otimizar nossos processos, garantindo entregas mais rápidas e eficientes.</p>    
                    <p class="rdfreitas-margin-top-1x">Uma das experiências que mais me enriqueceu foi a oportunidade de reformular e-commerce e sistemas de gerenciamento de lojas. Tornar esses sistemas e sites responsivos, ou seja, adaptáveis a diferentes dispositivos e telas, proporcionou aos usuários uma experiência mais fluída e agradável, aumentando a satisfação do cliente e o sucesso dos negócios.</p>    
                    <p class="rdfreitas-margin-top-1x">Assim, minha história com desenvolvimento para web é marcada por constantes desafios, aprendizados e conquistas. Encontrei minha paixão em criar interfaces que unem o design criativo e a funcionalidade prática, tornando a experiência do usuário memorável e eficiente. E essa jornada não para por aqui, pois sempre estou ansioso para abraçar novas tecnologias e tendências que surgem nesse fascinante mundo digital.</p>
                </div>
                <div class="col-6">

                </div>
            </div>    
                
        </div>
    </div>
    <div class="rdfreitas-destaque" id="rdfreitas-destaque">
        <div class="container grid">
            <div class="g-col-7">
                <h2 class="rdfreitas-3 text-uppercase">Último trabalho</h2>
                <img src="" class="">
            </div>
            <div class="g-col-5">
                <div class="rdfreitas-margin-top-2x">
                    <h3 class="rdfreitas-3 text-uppercase rdfreitas-margin-bottom-1x">rdfreitas</h3>
                    <p><a href="http://www.rdfreitas.com.br">www.rdfreitas.com.br</a></p>
                    <p>Criação do layout, desenvolvimento do site</p>
                    <p>2023</p>
                    <p>UI, UX, HTML, CSS, Angular, Bootstrap</p>
                    <button class="btn rdfreitas-btn-medium rdfreitas-background-8 rdfreitas-3 rdfreitas-text-button text-uppercase rdfreitas-margin-top-1x">+ projetos</button>
                </div>
                
            </div>
            
        </div>
    </div>
    
</div>
