/**
  rdfreita's styles
**/
@import "assets/mixins/layout";
@import "assets/mixins/fonts";
@import "assets/mixins/colors";

$prefix : rdfreitas;

body {
  font-family: 'Bitter', serif;
}

@include margin('.rdfreitas-margin-top-', 'margin-top');
@include margin('.rdfreitas-margin-left-', 'margin-left');
@include margin('.rdfreitas-margin-bottom-', 'margin-bottom');
@include margin('.rdfreitas-margin-right-', 'margin-right');

@include padding('.rdfreitas-padding-top-', 'padding-top');
@include padding('.rdfreitas-padding-left-', 'padding-left');
@include padding('.rdfreitas-padding-bottom-', 'padding-bottom');
@include padding('.rdfreitas-padding-right-', 'padding-right');

@include border('.rdfreitas-border-top-', 'border-top', '#EEBB22');
@include border('.rdfreitas-border-bottom-', 'border-bottom', '#EEBB22');
@include border('.rdfreitas-border-left-', 'border-left', '#EEBB22');
@include border('.rdfreitas-border-right-', 'border-right', '#EEBB22');

/*FONTES COM VARIAÇÃO DE TAMANHO DE 8 A 120*/
@include font('.rdfreitas-font-', 'font-size');


@include image('.rdfreitas-img-', 'width');

.rdfreitas-tetxt-normal { font-size: 12px; }
.rdfreitas-text-head-1 { font-size: 36px; }
.rdfreitas-tetxt-button { font-size: 12px; }

.rdfreitas-intro,
.rdfreitas-presentation,
.rdfreitas-destaque { padding: 120px 0;}
.rdfreitas-intro img { margin-top: -40px;}

.rdfreitas-btn-small { width: 80px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-medium { width: 120px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-large { width: 160px; font-family: 'Chakra Petch', sans-serif; }

.rdfreitas-skills span { margin: 4px; }

.rdfreitas-formacao-box { width: 200px; }
.rdfreitas-formacao-box h3 { height: 90px; }
.flex-container {
display: flex;
flex-direction: row;
}

.flex-container > .flex-item {
flex: auto;
}

.flex-container > .raw-item {
width: 5rem;
}

.#{$prefix}{
    &-icon {
        width: 56px;
        height: 56px;
        margin: 0 5px;
    }

    &-title {
        font-family: poppins;
        font-weight: bold;
        font-size: 55px;
    }

    &-subtitle {
        font-size: 74px;
        display: block;
        word-break: break-all;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;

        &-1 { width: 350px; }
    }
    &-deco {
        &-retangulo {
            display: block;
            background-color: #FC9700;
            margin-top: -15px;
            margin-left: 9px;

            &-25 { width: 25%; }
            &-50 { width: 50%; }
            &-75 { width: 75%; }
            &-100 { width: 100%; }

        }
    }
    &-height{
        &-1x { height: 4px; }
        &-2x { height: 8px; }
        &-3x { height: 12px; }
        &-4x { height: 16px; }
        &-5x { height: 20px; }
    }

}

.rdfreitas-img-90 { width:90%; }
.rdfreitas-img-80 { width:80%; }
.rdfreitas-img-70 { width:70%; }
.rdfreitas-img-60 { width:60%; }
.rdfreitas-img-50 { width:50%; }
.rdfreitas-img-40 { width:40%; }
.rdfreitas-img-30 { width:30%; }
.rdfreitas-img-20 { width:20%; }
.rdfreitas-img-10 { width:10%; }

.rdfreitas-tetxt-normal { font-size: 12px; }
.rdfreitas-text-head-1 { font-size: 36px; }
.rdfreitas-tetxt-button { font-size: 12px; }

.rdfreitas-intro,
.rdfreitas-presentation,
.rdfreitas-destaque { padding: 120px 0;}
.rdfreitas-intro img { margin-top: -40px;}

.rdfreitas-btn-small { width: 80px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-medium { width: 120px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-large { width: 160px; font-family: 'Chakra Petch', sans-serif; }

.rdfreitas-skills span { margin: 4px; }

.rdfreitas-formacao-box { width: 200px; }
.rdfreitas-formacao-box h3 { height: 90px; }
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > .flex-item {
  flex: auto;
}

.flex-container > .raw-item {
  width: 5rem;
}
