/**
  rdfreita's styles
**/
@import "assets/mixins/layout";
@import "assets/mixins/fonts";
@import "assets/mixins/colors";

$prefix : rdfreitas;

body {
  font-family: 'Bitter', serif;
}

@include margin('.rdfreitas-margin-top-', 'margin-top');
@include margin('.rdfreitas-margin-left-', 'margin-left');
@include margin('.rdfreitas-margin-bottom-', 'margin-bottom');
@include margin('.rdfreitas-margin-right-', 'margin-right');

@include margin-negativa('.rdfreitas-mt-neg-', 'margin-top', 40);

@include padding('.rdfreitas-padding-top-', 'padding-top');
@include padding('.rdfreitas-padding-left-', 'padding-left');
@include padding('.rdfreitas-padding-bottom-', 'padding-bottom');
@include padding('.rdfreitas-padding-right-', 'padding-right');

@include border('.rdfreitas-border-top-', 'border-top', '#EEBB22');
@include border('.rdfreitas-border-bottom-', 'border-bottom', '#EEBB22');
@include border('.rdfreitas-border-left-', 'border-left', '#EEBB22');
@include border('.rdfreitas-border-right-', 'border-right', '#EEBB22');

@include height('.rdfreitas-height-', 'height');
@include width('.rdfreitas-width-', 'width');

@include chakra();
@include bitter();
/*FONTES COM VARIAÇÃO DE TAMANHO DE 8 A 120*/
@include font('.rdfreitas-font-', 'font-size');
@include fix-font('.rdfreitas-font-fixa-', 95, 'px');
@include word-break();


@include image('.rdfreitas-img-', 'width');

@include link('.rdfreitas-link-', 'EEBB22');

@include colors('.rdfreitas-', 'color', '664411');
@include colors('.rdfreitas-', 'color', 'AA7733');
@include colors('.rdfreitas-', 'color', 'BB9944');
@include colors('.rdfreitas-', 'color', 'EEBB22');
@include colors('.rdfreitas-', 'color', '33BBAA');
@include colors('.rdfreitas-', 'color', '116655');
@include colors('.rdfreitas-', 'color', '0011BB');
@include colors('.rdfreitas-', 'color', '001166');
@include colors('.rdfreitas-', 'color', '111100');
@include colors('.rdfreitas-', 'color', '332222');
@include colors('.rdfreitas-', 'color', 'DDCCAA');
@include colors('.rdfreitas-', 'color', 'EEEECC');

@include colors('.rdfreitas-', 'background', '664411');
@include colors('.rdfreitas-', 'background', 'AA7733');
@include colors('.rdfreitas-', 'background', 'BB9944');
@include colors('.rdfreitas-', 'background', 'EEBB22');
@include colors('.rdfreitas-', 'background', '33BBAA');
@include colors('.rdfreitas-', 'background', '116655');
@include colors('.rdfreitas-', 'background', '0011BB');
@include colors('.rdfreitas-', 'background', '001166');
@include colors('.rdfreitas-', 'background', '111100');
@include colors('.rdfreitas-', 'background', '332222');
@include colors('.rdfreitas-', 'background', 'DDCCAA');
@include colors('.rdfreitas-', 'background', 'EEEECC');

.rdfreitas-btn-small { width: 80px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-medium { width: 120px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-large { width: 160px; font-family: 'Chakra Petch', sans-serif; }



.#{$prefix}{
    &-icon {
        width: 56px;
        height: 56px;
        margin: 0 5px;
    }

    &-title {
        font-family: poppins;
        font-weight: bold;
        font-size: 55px;
    }

    &-subtitle {
        font-size: 74px;
        display: block;
        word-break: break-all;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;

        &-1 { width: 350px; }
    }
    &-deco {
        &-retangulo {
            display: block;
            background-color: #FC9700;
            margin-top: -15px;
            margin-left: 9px;

            &-25 { width: 25%; }
            &-50 { width: 50%; }
            &-75 { width: 75%; }
            &-100 { width: 100%; }

        }
    }
    &-height{
        &-1x { height: 4px; }
        &-2x { height: 8px; }
        &-3x { height: 12px; }
        &-4x { height: 16px; }
        &-5x { height: 20px; }
    }

}


.rdfreitas-btn-small { width: 80px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-medium { width: 120px; font-family: 'Chakra Petch', sans-serif; }
.rdfreitas-btn-large { width: 160px; font-family: 'Chakra Petch', sans-serif; }

.rdfreitas-skills span { margin: 4px; }

.rdfreitas-formacao-box { width: 200px; }
.rdfreitas-formacao-box h3 { height: 90px; }
